.lead {
    margin: 56px auto 0;
    width: 1280px;
    /*width: calc(100vw - 296px);*/
}

@media screen and (max-width: 1279px) {
    .lead {
        margin-top: 48px;
        width: 928px;
    }
}
@media screen and (max-width: 1023px) {
    .lead {
        width: 768px;
    }

}
@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
    }
}