.cover__title {
    position: relative;
    margin: 0;
    z-index: 2;
    max-width: 560px;
    min-height: 152px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        min-height: 70px;
        /*       margin-top: 33px;*/
        font-size: 32px;
        line-height: 35px;
    }
}